/* @font-face {
  font-family: "Manrope";
  src: url("/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
} */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cabinet: var(--font-cabinet-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cabinet);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.scroll_row {
  padding-top: 3.2rem;
  display: flex;
  width: max-content;
  gap: 1rem;
}

.scroll_row_item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll_row_item_img {
  position: relative;
  /* width: inherit; */
  /* height: inherit; */
}

.scroll_row_item_img img {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.void {
  height: 100vh;
}


.card-marquee {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  overflow: hidden;
}

.card-marquee .marquee {
  display: flex;
}

.card-marquee .marquee h1 {
  white-space: nowrap;
  font-size: 10vw;
  font-weight: 600;
  margin-right: 30px;
}

.card {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  padding: 1.5em;
}

.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 150px;
  overflow: hidden;
  object-fit: cover;
}

.card-img img {
  transform: scale(2);
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.card-content .card-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5rem;
}

.card-content .card-description {
  text-align: center;
  width: 40%;
  margin-bottom: 3em;
  position: relative;
  transform: translateX(40px);
  opacity: 0;
  font-size: 1.5rem;
}

.card:nth-child(2) {
  margin-top: 50vh;
}

.char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.char span {
  transform: translateX(100%);
  display: inline-block;
  will-change: transform;
}

@media (max-width: 900px) {
  /* h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .intro h1,
  .outro h1 {
    width: 100%;
  } */

  .card-content .card-description {
    width: 90%;
  }
}